# Biodiversity in National Parks Data Explration and Analysis

In this file I will explore the data and try to answer some questions about the biodiversity in National Parks. I will use the following datasets:  
- observations.csv
- species_info.csv

## Observing the data  

I will start by loading the data and exploring the first few rows of each dataset.

In [1]:
import csv 
import numpy as np
import pandas as pd

In [7]:
observations_df = pd.read_csv('observations.csv')
species_df = pd.read_csv('species_info.csv')

observations_df.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [4]:
species_df.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

Observing these datasets we can assume that the structure of the data is as follows:
- observations.csv:  

|Name|Type|
|---|---|
|scientific_name| String |
| park_name | String |
| Observations | Int |

- species_info.csv:

|Name|Type|
|---|---|
| category | String |
| scientific_name | String |
| common_names | String |
| conservation_status | String |

## Cleaning the data